body {
    width: 500px;
    margin-top: 30px;
	background: lightblue;
}

input#thename {
    position: relative;
    display: inline;
    width: auto;
}

.row    {
    padding-bottom: 12px;
}

table{
    border:1px;
    background: #D2DEEF;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:9px;
    width:1000px;
    height: 100px;
	
}

th{
background: #5B9BD5;
color: white;
}
